<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <!-- <add name="UsuarioDBEntitiesConnectionString" connectionString="Data Source=(local);Initial Catalog=UsuarioDBEntities;Integrated Security=True" providerName="System.Data.SqlClient" /> -->
		<add name="UsuarioDBEntitiesConnectionString" connectionString="Server=73349d42-6080-4e30-8f36-a38500b16423.sqlserver.sequelizer.com;Database=db73349d4260804e308f36a38500b16423;User ID=qfibildtehzhzyjd;Password=CN5oMsMvjP7mYQtbKvU85R3QomRdnjXdANM3NxZuF63NC36C64PHkxnUTnaAJJi8;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
